<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @todo_name %>
    <%= @user_name %>
    <%= @user_email %>
  </body>
</html>
